@font-face {
    font-family: "HankenGroteskRegular";
    src: local(HankenGroteskRegular), url(./HankenGrotesk-Regular.woff) format("woff");
  }

  @keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-300px);
    }
    60% {
      transform: translateX(-300px);
    }
    62% {
      transform: translateX(0px);
    }
  }